@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: white;
  --text-color: white;
  --main-color: grey;
}
body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  color: black;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px 12%;
  transition: all.50s ease;
  background-color: darkred;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 0;
  margin: 10px 20px;
  transition: all 0.5s ease;

  overflow: auto;
}
.navbar a:hover {
  color: var(--main-color);
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
  color: var(--text-color);
}
.navbar-right a:hover {
  color: var(--main-color);
}

.boxContainer {
  margin: auto;
  margin-top: 4%;
  position: relative;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px gray;
  padding: 20px;
}
.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  font-size: 18px;
  font-weight: 500;
}
.search:focus {
  outline: none;
}

.categories {
  display: flex;
  justify-content: center;
}
.categories li {
  padding: 20px;
}
.categories li a {
  color: black;
  font-size: 18px;
}

.main-content {
  background-image: url("images/PCBB.jpg");

  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid darkred;
}
.main-content-info {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 40px;
  padding-top: 150px;
  color: white;
}
.main-content-button {
  width: 100px;
  margin-top: 50px;
}
.main-content-info h1 {
  font-size: 60px;
}

.firm-name {
  font-size: 35px;
  color: red;
}
.contact-us {
  font-size: 20px;
}
.search-bar input {
  font-size: 20px;
}
.main-content-button {
  font-size: 20px;
  background-color: darkred;
  color: white;
}
.featured {
  text-align: center;
  padding-top: 50px;
  color: grey;
}
.all-products,
.all-releases {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-products {
  margin-bottom: 30px;
}
.fa-arrow-left,
.fa-arrow-right {
  font-size: 30px;
}
.product-images,
.release-images {
  width: 180px;
  height: 180px;
}
.product,
.release {
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  position: relative;
}
.product-text,
.release-text {
  font-weight: bold;
  font-size: 1.2em;

  width: 70%;
  text-align: center;
}
.product-text:hover,
.release-text:hover {
  border-bottom: 1px solid black;
}

.product-price,
.release-price {
  font-weight: bold;
}
.product-button,
.release-button {
  background-color: white;
  border: 2px solid darkred;
  padding: 10px;
  color: darkred;
  padding: 8px 15px 8px 15px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
}

.new-releases-header {
  text-align: center;
}
.footer {
  margin: auto;
  margin-top: 4%;
  position: relative;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px gray;
  padding: 20px;
  background-color: whitesmoke;
}
.view-button {
  margin: 10px;
  border: none;
  color: blue;
}

#cart {
  display: none;
  background-color: white;
  position: fixed;
  right: 0px;
  height: 100vh;
  width: 400px;
  z-index: 5;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}
.cart-bottom * {
  padding: 10px;
}
#x {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}
#cart h1 {
  margin-bottom: 10px;
}
#product-container {
  border-bottom: 1px solid grey;
}

#cart {
  display: none;
  background-color: white;
  position: fixed;
  right: 0px;
  height: 100vh;
  width: 400px;
  z-index: 5;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}
.cart-bottom * {
  padding: 10px;
}
#x {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}
#cart h1 {
  margin-bottom: 10px;
}
#product-container {
  border-bottom: 1px solid grey;
}
.view-button {
  border: none solid black;
  background-color: white;
}
